body {
    background-color: lightgray;
    }

    .logo {
        max-width: 100%;
        margin-top: -0.5%;
        margin-left: -0.6%;
      }



    .nav-link {
        color: peru;
    }





h1 {color: darkgreen;}

