* {
    box-sizing: border-box;
  }

  input[type=text] {
    background-color: #3CBC8D;

    color: white;
    border: 0px solid black;
    border-radius: 4px;
  }

  a{
    color: white;
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }


.logo {
    max-width: 60%;
    margin-top: -0.5%;
    margin-left: -0.6%;
    background-color: lightgrey;  }


/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
    background-color: lightgrey; 
  }
  
  /* Style tab links */
  .tablink {
    background-color:lightgray;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 25px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    height: 100%;
  }
  
  #Home {background-color:steelblue ;}
  #Prices {background-color: steelblue;}
  #Contact {background-color: steelblue;}
  #About {background-color: steelblue;}